<board>
    <div id="trello-lists" ref="trelloLists" class="trello-lists">
        <div class="trello-lists-item" each={list in opts.lists}>
            <span class="trello-lists-item-title">{list.name}</span>
            <div class="trello-lists-item-content">
                <div class="card-info" each={card in list.cards}>
                    <p class="card-info-custom-field" each={customField in card.customFields}>{customField.name} ->
                        {customField.value}</p>
                    <a href="{card.url}">{card.name}</a>
                </div>
            </div>
        </div>
        <!-- <div show={ board_id==null }>
            <input type="text" ref="boardIdValue" placeholder="Board Id" />
            <button onclick="{update_board_id}">Update Board Id!</button>
        </div> -->
        <!-- </div> -->
    </div>
    <style>
        .trello-lists .trello-lists-item {
            display: inline-block;
            margin: 20px;
            width: 300px;
            vertical-align: top;
        }

        .trello-lists .trello-lists-item .trello-lists-item-title {

            font-weight: bold;
            text-align: center;
            min-height: 50px;
        }

        .trello-lists .trello-lists-item .trello-lists-item-content {
            margin: 12px 0;
            min-height: 150px;
        }

        .trello-lists .trello-lists-item .trello-lists-item-content .card-info {
            border: 1px solid black;
            margin: 5px;
        }

        .trello-lists .trello-lists-item .trello-lists-item-content .card-info .card-info-custom-field {
            font-size: 10px;
        }
    </style>
    <script>
        import { filter, tap, map } from 'rxjs/operators';
        import { boardService } from '../services/board.service';

        const tag = this;

        this.on('mount', () => {
            boardService.board$
                .pipe(
                    filter(boardNotEmpty),
                    map(filterCards),
                    tap(board => {
                        tag.opts.lists = board.boardCards;
                        tag.update();
                        calculateBoardWidth();
                    })
                )
                .subscribe();
        });

        const boardNotEmpty = board => {
            return undefined !== board && undefined !== board.boardCards;
        }
        const filterCards = board => {
            if (undefined === board.selectedFilters || board.selectedFilters.length === 0) {
                return board;
            }
            //TODO: filter cards!
            return board;
        }
        // those functions should go to an utils service or smth like that
        const calculateBoardWidth = () => {
            let boardWidth = 0;
            const trelloList = tag.refs.trelloLists;
            const columns = Array.prototype.slice.call(trelloList.childNodes).filter(element => element.className === 'trello-lists-item');
            columns.map(element => boardWidth += getElementWidth(element));
            trelloList.style.width = `${boardWidth}px`;
        }
        const getElementWidth = element => {
            if ('undefined' === typeof element) {
                return 0;
            }
            //https://stackoverflow.com/a/23270007
            const style = element.currentStyle || window.getComputedStyle(element),
                width = element.offsetWidth, // or use style.width
                margin = parseFloat(style.marginLeft) + parseFloat(style.marginRight),
                padding = parseFloat(style.paddingLeft) + parseFloat(style.paddingRight),
                border = parseFloat(style.borderLeftWidth) + parseFloat(style.borderRightWidth);

            return width + margin - padding + border;
        }
    </script>
</board>
