<filter>
    <div ref="selectFilters" class="filter" each="{filter in opts.filters}">
        <p class="filter-name">{filter.name}:</p>
        <select id="{cleanString(filter.name)}" class="filter-values" multiple>
            <option class="{filter.name}" value="0"> No filter </option>
            <option class="{filter.name}" each="{option in filter.options}" value={option.value.text}> {option.value.text} </option>
        </select>
    </div>

    <style>
        .loading img {
            width: 50px;
            display: block;
            margin: auto;
        }


        .filter-info .filter-info-current {
            font-weight: bold;
            color: blue;
            margin: 0 20px;

        }

        .filter {
            display: inline-block;
        }

        .filter .filter-name {
            font-size: 12px;
            font-weight: bold;
            text-align: center;
        }

        .filter .filter-values {
            margin: 0 25px;
            min-width: 150px;
            padding: 10px;
        }
    </style>
    </style>
    <script>
        import { boardService } from '../services/board.service';
        import { filterService } from '../services/filter.service';
        import { from, fromEvent } from 'rxjs';
        import { flatMap, mergeMap, tap, filter, map } from 'rxjs/operators';
        import SlimSelect from 'slim-select';
        import '../styles/slimselect.css';

        const tag = this;

        this.on('mount', () => {
            boardService.board$.pipe(
                filter(board => undefined !== board),
                filter(board => undefined !== board.customFields),
                filter(board => board.customFields.length > 0),
                tap(updateViewFilters),
                filter(upd => undefined === upd.selectedFilters),
                flatMap(_ => selects$(tag.refs.selectFilters)),
                flatMap(element => change$(element.querySelector('select'))),
                tap(bindSelectFilterActions)
            ).subscribe();
        });

        const change$ = element => fromEvent(element, 'change');
        const selects$ = element => from(element);
        const updateViewFilters = board => {
            tag.opts.filters = board.customFields;
            tag.update();
            board.customFields.map(filter => new SlimSelect({
                select: document.getElementById(tag.cleanString(filter.name))
            }));
        }

        const bindSelectFilterActions = event => {
            let selectedFilters = filterService.getSelected() || {};
            selectedFilters[event.target.id] = Array.prototype.slice.call(event.target.selectedOptions).map(option => option.value);
            filterService.updateSelectedFilters(selectedFilters);
        }

        this.cleanString = string => string.replace(' ', '').toLowerCase();
    </script>
</filter>
