<filter>
    <div ref="selectFilters" class="filter" each="{filter in opts.filters}">
        <p class="filter-name">{filter.name}:</p>
        <select id="{cleanString(filter.name)}" class="filter-values" multiple>
            <option class="{filter.name}" value="0"> No filter </option>
            <option class="{filter.name}" each="{option in filter.options}" value={option.value.text}> {option.value.text} </option>
        </select>
    </div>

    <button ref="applyFilter" onclick="{ applyFilter }" id="apply-filter">Apply filter</button>

    <style>
        .loading img {
            width: 50px;
            display: block;
            margin: auto;
        }


        .filter-info .filter-info-current {
            font-weight: bold;
            color: blue;
            margin: 0 20px;

        }

        .filter {
            display: inline-block;
        }

        .filter .filter-name {
            font-size: 12px;
            font-weight: bold;
            text-align: center;
        }

        .filter .filter-values {
            margin: 0 25px;
            min-width: 150px;
            padding: 10px;
        }

        #apply-filter {
            display: block;
            margin-left: 25px;
        }
    </style>
    </style>
    <script>
        import { filterService } from '../services/filter.service';
        import { from, fromEvent, combineLatest } from 'rxjs';
        import { flatMap, mergeMap, map, tap, startWith, filter } from 'rxjs/operators';
        import SlimSelect from 'slim-select'
        import '../styles/slimselect.css';

        const tag = this;

        this.on('mount', () => {
            filterService.filterState$.subscribe(filters => {
                tag.opts.filters = filters;
                tag.update();
                filters.map(filter => new SlimSelect({
                    select: document.getElementById(tag.cleanString(filter.name))
                }));

                selects$(tag.refs.selectFilters).pipe(
                    flatMap(select => change$(select)),
                    tap(event => {
                        let selectedFilters = filterService.getSelected() || {};
                        selectedFilters[event.target.id] = Array.prototype.slice.call(event.target.selectedOptions).map(option => option.value);
                        filterService.updateSelectedFilters(selectedFilters)
                    })
                ).subscribe();
            });

            const change$ = element => fromEvent(element, 'change');
            const selects$ = element => from(element);
        });

        this.cleanString = string => string.replace(' ', '').toLowerCase();
    </script>
</filter>
