<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <title>Custom Trello View</title>
    <link rel="stylesheet" type="text/css" href="/static/styles.css" />
</head>

<body>
    <div class="container">
        <h1>The great trello meta panel</h1>
        <loading></loading>
        <filter></filter>
        <board></board>
    </div>
    <script src="/static/vendor.js"></script>
    <script src="/static/main.js"></script>
</body>

</html>